.typing-success{
    font-weight: normal;
    color: #cccccc;
}

.typing-error{
    font-weight: bold;
    color: red;
}
.typing-error-bg{
    font-weight: bold;
    background-color: red;
}
.head{
    font-weight: bold;
    font-size: 28px;
    padding-top: 15px;
    text-align: center;
}

.time{
    text-align: center;
    font-size: 22px;
    color: #999999;
    margin-bottom: 20px;
}
.f18{
    font-size: 18px;
    height: 40%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #000000;
    text-align: justify;
    line-height: 30px;
    padding: 25px;
    margin-bottom: 5px;
}

.text-area{
    margin-top: 5px;
    font-size: 18px;
    height: 40%;
    background-color: #efefef;
    border: 1px solid #d9d9d9;
    color: #000000;
    text-align: justify;
    line-height: 30px;
    padding: 25px;
}

.timer{
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}
.result{
    font-size: 20px;
    color: #080808;
}
.reset{
    font-size: 18px;
}